body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bg-section-dark {
    background-color: #0e0b2b !important;
}